<h1>Listing articles</h1>
<h4>You know <%=@known_vecs.length%> words</h4>

<table>
  <tr>
    <th>Title</th>
    <th>Score</th>
    <th>Source_url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rankList.each do |tuple| %>
  <tr>
    <%article = tuple[0]%>
    <%score = tuple[1]%>
    <td><%= article.title %></td>
    <td><%= score %></td>
    <td><%= article.source_url %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>
<br>
<%= link_to 'Add New Article', new_article_path %>
<br>
<br>
<%= link_to 'Fetch Article', fetch_path %>