<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <style>
  ul { margin-left:20px; color:blue; }
  li { cursor:default; font-size: 14}
  li.active { background:black;color:white; }
  body {background-color: MistyRose;}
  span { color:red; }
  #hint{
    cursor:pointer;
  }
  .tooltip{
    margin:8px;
    padding:8px;
    border:1px solid blue;
    background-color:yellow;
    position: absolute;
    z-index: 2;
  }
  </style>

</head>
<body>

<div id='article'></div>
<p id='result'></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b><br>
  <%= @article.body %>
</p>

<p>
  <b>Source URL:</b>
  <%= @article.source_url %>
</p>

<p>
  <b>Unique Words:</b>
  <%= @test_body.length %>
  <%= @test_body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<script>
		(function (){
		var build = function () {
			var words = ['a','b','c'];
			var article = $('#article');
			for (var i = 0; typeof(words[i]) != 'undefined'; ++i){
				var node = $('<div>')
				.addClass('node')
				//.addClass('w_'+words[i])
				//.attr('id','node_'+i)
				.html(words[i]);

				article.append(node);
			}

			$('div.node').click(function() {
			   var ele = $(this).html();
			    $.ajax({
			    	url:"http://glacial-badlands-7296.herokuapp.com/click",
			    	success:function(result){
			      $("p#result").html('success!!');},
			      	data: { 'char':ele }
				});

		  //     	$.ajax(
		  //     		url:"http://localhost:3000/click",
		  //     		data: {'char':ele})
				// .done(function() { alert("success"); })
				// .fail(function() { alert("error"); })
				// .always(function() { alert("complete"); });

			   alert(ele);
			   //$(this).tooltip();
			});

		};

		build();

	})();

// var body = <%= @test_body %>;

// for (index = 0; index < ; index++) {
//   var newdiv=document.createElement("div");
//   newdiv.id = index
//   newdiv.innterHTML = 
//   document.body.appendChild(newdiv);
// }

</script>



</body>
</html>
