<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <style>
  ul { margin-left:20px; color:blue; }
  li { cursor:default; font-size: 14}
  li.active { background:black;color:white; }
  body {background-color: MistyRose;}
  span { color:red; }

  div {display:inline;}
  </style>

</head>
<body>

<div id='article'></div>
<p id='result'></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p id='reader'>
  <b>Body:</b><br>
  <%= @article.body %>
</p>

<p>
  <b>Source URL:</b>
  <%= @article.source_url %>
</p>

<p>
  <b>Unique Words:</b>
  <%= @test_body.length %>
  <%= @test_body %>

</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<script type='text/javascript'>
		$(function () {
			// var words = '<%= @test_body %>';
			// alert(words);
			// var article = $('#article');
			// var len = words.length;
			// for (var i = 0; i < words.length; i++){
			// 	var node = $('<div>')
			// 	.addClass('node')
			// 	.html(words[i]);
			// 	article.append(node);
			// }

			$('p#reader').mouseup(function() {
			    var ele = document.getSelection().toString();
			    $.ajax({
			    	url:"http://salty-stream-4018.herokuapp.com/click",
			    	success:function(data){
			      		$("p#result").append('success');
			      		console.log(data);},
			      	data: { 'char': ele },
			      	error:function(data){alert('error sending');
			      		console.log(data);}
				});
			});
		});

</script>



</body>
</html>
