<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>
  <style>
  ul { margin-left:20px; color:blue; }
  li { cursor:default; font-size: 14}
  li.active { background:black;color:white; }
  body {background-color: MistyRose;}
  span { color:red; }

  div {display: inline;}
  </style>

</head>
<body>

<div id='article'></div>
<p id='result'></p>

<%= link_to 'Back to Index', articles_path %>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p id='reader'>
  <b>Body:</b><br>
  <%= @article.body %>
</p>

<p>
  <b>Source URL:</b>
  <%= @article.source_url %>
</p>

<p>
  <b>Unique Words:</b>
  <%= @new_body.length %>
  <%= @new_body.split(//) %>
</p>

<%= link_to 'Edit Article', edit_article_path(@article) %>

<script type='text/javascript'>
    //var array = '<%= @article.body%>';
    //alert(array);

		$(function () {

			$('p#reader').mouseup(function() {
			    var ele = document.getSelection().toString();
			    $.ajax({
			    	url:"http://salty-stream-4018.herokuapp.com/click",
			    	success:function(data){
			      		$("p#result").append('success');
			      		console.log(data);},
			      	data: { 'char': ele },
			      	error:function(data){alert('error sending');
			      		console.log(data);}
				  });
			});
		});

</script>



</body>
</html>
