<h1>Your Saved Items</h1>

<table border='1'>
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th>Seller Name</th>
    <th>Quantity</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price.round %></td>
    <td><%= item.seller %></td>
    <td><%= item.count %></td>
    <td><%= link_to 'Edit', :action => 'cart_edit', :controller => 'items', :id => item.id %></td>
    <td><%= link_to 'Move to Cart', :action => 'unsave_item', :controller => 'items', :id => item.id%></td>
    <td><%= link_to 'Delete', item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', view_cart_path %>
