<h1>Your Catalog</h1>

<table border='1'>
  <tr>
    <th>Item Name</th>
    <th>Price</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price.round %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
<td><%= link_to 'Destroy', item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Item', new_item_path %> |
<%= link_to 'View Orders', view_orders_path %>
