<h1>Your Cart</h1>

<table border='1'>
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th>Seller Name</th>
    <th>Quantity</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.price.round %></td>
    <td><%= item.seller %></td>
    <td><%= item.count %></td>
    <td><%= link_to 'Edit', :action => 'cart_edit', :controller => 'items', :id => item.id %></td>
    <td><%= link_to 'Save for Later', :action => 'save_item', :controller => 'items', :id => item.id %></td>
    <td><%= link_to 'Delete', item, method: :delete, data: {confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Process Orders', process_orders_path, data: {confirm: 'Are you sure you wish to finalize purchase?'} %> |
<%= link_to 'Save Cart', save_cart_path, data: {confirm: 'Are you sure you wish to save this cart?'} %> |
<%= link_to 'View Saved Items', displaySavedItems_path%> |
<%= link_to 'Back', items_path %>
